################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevOpsDenAPI
/.vs/ProjectEvaluation
/API/bin
/API/obj
/BusinessLogic/obj
/BusinessLogic/bin
/Infrastructure/obj
/Infrastructure/bin
/.env
/UnitTests/obj/Debug/net6.0/UnitTests.AssemblyInfo.cs
/UnitTests/obj/Debug/net6.0/UnitTests.AssemblyInfoInputs.cache
/Infrastructure/bin/Debug/net6.0/Infrastructure.deps.json
/UnitTests/bin/Debug/net6.0/AutoMapper.dll
/UnitTests/bin/Debug/net6.0/BusinessLogic.dll
/UnitTests/bin/Debug/net6.0/BusinessLogic.pdb
/UnitTests/bin/Debug/net6.0/CoverletSourceRootsMapping
/UnitTests/bin/Debug/net6.0/Infrastructure.dll
/UnitTests/bin/Debug/net6.0/Infrastructure.pdb
/UnitTests/bin/Debug/net6.0/nunit_random_seed.tmp
/UnitTests/bin/Debug/net6.0/UnitTests.deps.json
/UnitTests/bin/Debug/net6.0/UnitTests.dll
/UnitTests/bin/Debug/net6.0/UnitTests.pdb
/UnitTests/obj/Debug/net6.0/ref/UnitTests.dll
/UnitTests/obj/Debug/net6.0/refint/UnitTests.dll
/UnitTests/obj/Debug/net6.0/UnitTests.assets.cache
/UnitTests/obj/Debug/net6.0/UnitTests.csproj.AssemblyReference.cache
/UnitTests/obj/Debug/net6.0/UnitTests.csproj.CoreCompileInputs.cache
/UnitTests/obj/Debug/net6.0/UnitTests.csproj.FileListAbsolute.txt
/UnitTests/obj/Debug/net6.0/UnitTests.dll
/UnitTests/obj/Debug/net6.0/UnitTests.pdb
/UnitTests/obj/Debug/net6.0/UnitTests.sourcelink.json
/UnitTests/obj/project.assets.json
/UnitTests/obj/project.nuget.cache
/UnitTests/obj/UnitTests.csproj.nuget.dgspec.json
/ScaffoldCommand.txt
