################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevOpsDenAPI
/.vs/ProjectEvaluation
/API/bin
/API/obj
/BusinessLogic/obj
/BusinessLogic/bin
/Infrastructure/obj
/Infrastructure/bin
/.env
